---
import Layout from "../../layouts/BaseLayout/Layout.astro";
import styles from "../styles/About.module.css";
---

<Layout title="Acerca de este proyecto" description="">
  <section>
    <h1>Acerca de este mini proyecto.</h1>
    <p class={styles.text}>
      Mi nombre es Ignacio Figueroa y soy desarrollador web especializado en
      desarrollo fullstack.
    </p>
    <p class={styles.text}>
      Me encontré con este mundo de la programación por alla en el 2022, poco
      antes de terminar la secundaria. Desde entonces, exploré diversos campos
      dentro de la informática y decidí enfocarme en el desarrollo de
      aplicaciones.
    </p>
    <p class={styles.text}>
      A lo largo de mi formación autodidacta, aprendí sobre el desarrollo web
      moderno, distintas herramientas, stacks tecnológicos, lógica de
      programación y buenas prácticas. Sigo ampliando continuamente mis
      conocimientos en este campo.
    </p>
    <p class={styles.text}>
      Decidí ingresar a la universidad no solo para reforzar lo aprendido y
      seguir creciendo, sino porque creo firmemente que la combinación entre
      educación formal y estudio autodidacta es esencial en este tipo de
      profesiones. Además, vi la oportunidad de formalizar mis estudios
      académicos.
    </p>
    <p class={styles.text}>
      Por ello, decidí crear este proyecto, en el que recopilo los apuntes que
      voy realizando durante mi recorrido en la Tecnicatura en Programación de
      la UTN.
    </p>
    <p class={styles.text}>
      Este proyecto refleja, por lo menos para mi, mi interes en seguir
      mejorando, creciendo, y además, aportar mi granito de arena y crear mi
      lugar en la web.
    </p>
  </section>
</Layout>
