---
// Astro
import type { MarkdownHeading } from 'astro';
import type { CollectionEntry } from 'astro:content';

// Components
import BackButton from '@/components/BackButton/BackButton.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Layout from '../BaseLayout/Layout.astro';

type Props = CollectionEntry<'apuntes'>['data'] & {
  toc: MarkdownHeading[];
};

const { title, description, pubDate, updatedDate, toc } = Astro.props;
const hasToc = toc.length > 0;
---

<Layout description={description} title={title}>
  <article>
    <div>
      <div>
        <BackButton />
        <div }>
          <div>
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div>
                  Última actualización <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <p>{description}</p>
        </div>
        <slot />
      </div>
    </div>
  </article>
</Layout>
