---
import type { CollectionEntry } from "astro:content";
import BackButton from "../../components/BackButton/BackButton.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../BaseLayout/Layout.astro";
import styles from "./PostLayout.module.css";

type Props = CollectionEntry<"apuntes">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<Layout description={description} title={title}>
  <article>
    <BackButton />
    <div class={styles.prose}>
      <div class={styles.title}>
        <div class={styles.date}>
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class={styles.lastUpdatedOn}>
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <p>{description}</p>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</Layout>
