---
interface CareerCardProps {
  career: string;
  university: string;
  href: string;
  description: string;
  image: string;
}

const { href, career, university, description, image } = Astro.props;
---

<div>
  <!-- <img src={image} alt="" /> -->
  <a href={href}>
    <h2>
      {career}
    </h2>
    <p>
      {description}
    </p>
    <p>{university}</p>
  </a>
</div>
