---
import CareerCard from '../components/CareerCard/CareerCard.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Layout from '../layouts/BaseLayout/Layout.astro';
import { careers } from '../lib/config';
import styles from '../styles/Home.module.css';
const avatarUrl = 'https://github.com/figueroaignacio.png';
---

<Layout description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <section>
    <div>
      <div>
        <h1>Mis apuntes 📝</h1>
      </div>
    </div>
    <p>
      Este proyecto recopila los apuntes que voy tomando durante mi formación en desarrollador de
      software, ya sean carreras universitarias o cursos.
    </p>
    <ul class={styles.list}>
      {
        careers.map((item) => (
          <li>
            <CareerCard
              career={item.title}
              href={item.href}
              university={item.university}
              description={item.description}
              image={item.image}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
