---
// Config
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';

// Config
import { careers } from '@/lib/config';

// Components
import CareerCard from '@/components/CareerCard.astro';
import Hero from '@/components/Hero.astro';
import Layout from '@/layouts/BaseLayout/Layout.astro';
---

<Layout description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <section class="home-section">
    <Hero />
    <ul>
      {
        careers.map((item) => (
          <li>
            <CareerCard
              career={item.title}
              href={item.href}
              university={item.university}
              description={item.description}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  .home-section {
    display: grid;
    gap: 2rem;
  }
</style>
