---
// Styles
import styles from '@/styles/Home.module.css';

// Config
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';

// Config
import { careers } from '@/lib/config';

// Components
import CareerCard from '@/components/CareerCard/CareerCard.astro';
import Layout from '@/layouts/BaseLayout/Layout.astro';
---

<Layout description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <section class={styles.homeSection}>
    <div>
      <h1>Hola, soy Ignacio Figueroa</h1>
    </div>
    <p>
      Este proyecto recopila los apuntes que voy tomando durante mi formación como desarrollador de
      software, ya sean carreras universitarias, formaciones o cursos.
    </p>
    <ul class={styles.list}>
      {
        careers.map((item) => (
          <li>
            <CareerCard
              career={item.title}
              href={item.href}
              university={item.university}
              description={item.description}
              image={item.image}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
